/*This sheet imports all other common modules and serves as a base reference, so that all modules can be brought into any stylesheet with a single import statement.*/
/*  
    For use in sketch, download "sketch-palettes" plugin: https://github.com/andrewfiorillo/sketch-palettes
    Load this palette: https://www.dropbox.com/s/8ipa5kei755nq3k/swyfft-document-colors.sketchpalette?dl=0
    Visual style guide: https://www.dropbox.com/s/oeize3nk1ruvaup/01-base-palette.png?dl=0
*/
/* Greens */
/* Neutrals */
/* ui element colors */
/* 
    note: 
    - numbers go from brightest (1) to darkest (3) 
    - grays all have same hue + saturation but lightness varies on HSL scale 
*/
/*
    11/9/16: old variables added back so code doesn't break on current site.  CB to find all, replace with new variables names and delete from this file.
*/
/*container for modals to be used with React-Bootstrap modals*/
/*  
    For use in sketch, download "sketch-palettes" plugin: https://github.com/andrewfiorillo/sketch-palettes
    Load this palette: https://www.dropbox.com/s/8ipa5kei755nq3k/swyfft-document-colors.sketchpalette?dl=0
    Visual style guide: https://www.dropbox.com/s/oeize3nk1ruvaup/01-base-palette.png?dl=0
*/
/* Greens */
/* Neutrals */
/* ui element colors */
/* 
    note: 
    - numbers go from brightest (1) to darkest (3) 
    - grays all have same hue + saturation but lightness varies on HSL scale 
*/
/*
    11/9/16: old variables added back so code doesn't break on current site.  CB to find all, replace with new variables names and delete from this file.
*/
/*
    Visual Style Guide: https://www.dropbox.com/s/5w88x69rullg6h7/02-layout.png?dl=0
*/
/* display text - bubble preview font size */
/* large headers, page level */
/* mid headers, page level */
/* small-mid headers, page level */
/* small headers, section level */
/* body copy */
/* subtext, footnotes */
/* common transitions slowest (1) to fastest (3) */
/* cubic bezier functions for rc-tooltip animation timing */
/*Base styles go here, such as global font family, font size, margins, padding, etc. 
 some css normalization can go here also, but we already have a normalize sheet higher in the chain*/
/*This sheet imports all other common modules and serves as a base reference, so that all modules can be brought into any stylesheet with a single import statement.*/
/*  
    For use in sketch, download "sketch-palettes" plugin: https://github.com/andrewfiorillo/sketch-palettes
    Load this palette: https://www.dropbox.com/s/8ipa5kei755nq3k/swyfft-document-colors.sketchpalette?dl=0
    Visual style guide: https://www.dropbox.com/s/oeize3nk1ruvaup/01-base-palette.png?dl=0
*/
/* Greens */
/* Neutrals */
/* ui element colors */
/* 
    note: 
    - numbers go from brightest (1) to darkest (3) 
    - grays all have same hue + saturation but lightness varies on HSL scale 
*/
/*
    11/9/16: old variables added back so code doesn't break on current site.  CB to find all, replace with new variables names and delete from this file.
*/
/*container for modals to be used with React-Bootstrap modals*/
/*  
    For use in sketch, download "sketch-palettes" plugin: https://github.com/andrewfiorillo/sketch-palettes
    Load this palette: https://www.dropbox.com/s/8ipa5kei755nq3k/swyfft-document-colors.sketchpalette?dl=0
    Visual style guide: https://www.dropbox.com/s/oeize3nk1ruvaup/01-base-palette.png?dl=0
*/
/* Greens */
/* Neutrals */
/* ui element colors */
/* 
    note: 
    - numbers go from brightest (1) to darkest (3) 
    - grays all have same hue + saturation but lightness varies on HSL scale 
*/
/*
    11/9/16: old variables added back so code doesn't break on current site.  CB to find all, replace with new variables names and delete from this file.
*/
/*
    Visual Style Guide: https://www.dropbox.com/s/5w88x69rullg6h7/02-layout.png?dl=0
*/
/* display text - bubble preview font size */
/* large headers, page level */
/* mid headers, page level */
/* small-mid headers, page level */
/* small headers, section level */
/* body copy */
/* subtext, footnotes */
/* common transitions slowest (1) to fastest (3) */
/* cubic bezier functions for rc-tooltip animation timing */
.hero-container-bs {
  background-color: #000000 !important;
  width: 100%;
  height: auto;
  font-family: "Lato", sans-serif;
  font-weight: 900; }

.hero-text-bs {
  color: #FFFFFF !important;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
  font-family: "Lato", sans-serif !important;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 3px;
  text-rendering: optimizeLegibility;
  margin: 50px auto 80px auto; }
  @media all and (min-width: 768px) and (max-width: 992px) {
    .hero-text-bs {
      font-size: 42px;
      letter-spacing: 4px; } }
  @media all and (min-width: 992px) and (max-width: 1200px) {
    .hero-text-bs {
      font-size: 42px;
      letter-spacing: 4px; } }
  @media all and (min-width: 1200px) {
    .hero-text-bs {
      font-size: 42px;
      letter-spacing: 4px; } }
  @media all and (min-width: 992px) and (max-width: 1200px) {
    .hero-text-bs {
      margin: 70px auto 110px auto; } }
  @media all and (min-width: 1200px) {
    .hero-text-bs {
      margin: 70px auto 110px auto; } }

.hero-text-callout-bs {
  color: #218fbf; }

.intro-text-bs {
  font-weight: 400;
  font-size: 14px;
  padding-top: 11px;
  line-height: 1.5;
  margin-bottom: 0;
  letter-spacing: 0.4px;
  color: #979899;
  padding-bottom: 20px; }
  @media all and (min-width: 768px) and (max-width: 992px) {
    .intro-text-bs {
      font-weight: 400;
      font-size: 16px; } }
  @media all and (min-width: 992px) and (max-width: 1200px) {
    .intro-text-bs {
      font-weight: 400;
      font-size: 16px; } }
  @media all and (min-width: 1200px) {
    .intro-text-bs {
      font-weight: 400;
      font-size: 16px; } }
  .intro-text-bs a {
    color: #218fbf;
    transition: all 100ms ease-out; }
  .intro-text-bs a:hover {
    color: #4E6B0B; }
  .intro-text-bs b {
    color: #000000 !important; }

.location-container-bs h2 {
  color: #000000 !important;
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 3px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase; }
  @media all and (min-width: 768px) and (max-width: 992px) {
    .location-container-bs h2 {
      font-size: 24px;
      letter-spacing: 4px; } }
  @media all and (min-width: 992px) and (max-width: 1200px) {
    .location-container-bs h2 {
      font-size: 24px;
      letter-spacing: 4px; } }
  @media all and (min-width: 1200px) {
    .location-container-bs h2 {
      font-size: 24px;
      letter-spacing: 4px; } }

.location-container-bs h3 {
  color: #218fbf;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 3px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  margin-top: 0; }
  @media all and (min-width: 768px) and (max-width: 992px) {
    .location-container-bs h3 {
      font-size: 16px;
      letter-spacing: 4px; } }
  @media all and (min-width: 992px) and (max-width: 1200px) {
    .location-container-bs h3 {
      font-size: 16px;
      letter-spacing: 4px; } }
  @media all and (min-width: 1200px) {
    .location-container-bs h3 {
      font-size: 16px;
      letter-spacing: 4px; } }

.location-container-bs p {
  color: #000000 !important;
  font-size: 11px;
  letter-spacing: 3px;
  line-height: 2;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  margin: 0; }
  @media all and (min-width: 768px) and (max-width: 992px) {
    .location-container-bs p {
      font-size: 12px;
      letter-spacing: 4px; } }
  @media all and (min-width: 992px) and (max-width: 1200px) {
    .location-container-bs p {
      font-size: 12px;
      letter-spacing: 4px; } }
  @media all and (min-width: 1200px) {
    .location-container-bs p {
      font-size: 12px;
      letter-spacing: 4px; } }

.input-label-bs {
  color: #000000 !important;
  font-size: 11px;
  letter-spacing: 3px;
  line-height: 2;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  text-transform: uppercase; }
  @media all and (min-width: 768px) and (max-width: 992px) {
    .input-label-bs {
      font-size: 12px;
      letter-spacing: 4px; } }
  @media all and (min-width: 992px) and (max-width: 1200px) {
    .input-label-bs {
      font-size: 12px;
      letter-spacing: 4px; } }
  @media all and (min-width: 1200px) {
    .input-label-bs {
      font-size: 12px;
      letter-spacing: 4px; } }
  .input-label-bs .errorLabelOn {
    color: #ff6373; }

.contact-form-btn-bs {
  background-color: #218fbf;
  border-radius: 30px;
  border: none !important;
  color: #000000 !important;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 13px;
  transition: all 500ms ease-out 50ms;
  cursor: pointer;
  width: 100%;
  height: 60px;
  color: #FFFFFF !important;
  font-weight: 900;
  font-size: 14px;
  margin: 10px 0 10px 0; }
  @media all and (min-width: 768px) and (max-width: 992px) {
    .contact-form-btn-bs {
      font-size: 16px; } }
  @media all and (min-width: 992px) and (max-width: 1200px) {
    .contact-form-btn-bs {
      font-size: 16px; } }
  @media all and (min-width: 1200px) {
    .contact-form-btn-bs {
      font-size: 16px; } }

.clause-bs {
  padding: 31px 0;
  border-bottom: 1px solid #E8EAEB; }
  .clause-bs h2 {
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 4px;
    color: #000000 !important; }
  .clause-bs p {
    font-weight: 400;
    font-size: 11px;
    padding-top: 11px;
    line-height: 1.3; }
  @media all and (min-width: 768px) and (max-width: 992px) {
    .clause-bs {
      padding: 56px 0 56px 0; }
      .clause-bs h2 {
        font-size: 24px; }
      .clause-bs p {
        font-weight: 400;
        font-size: 16px; } }
  @media all and (min-width: 992px) and (max-width: 1200px) {
    .clause-bs {
      padding: 56px 0 56px 0; }
      .clause-bs h2 {
        font-size: 24px; }
      .clause-bs p {
        font-weight: 400;
        font-size: 16px; } }
  @media all and (min-width: 1200px) {
    .clause-bs {
      padding: 56px 0 56px 0; }
      .clause-bs h2 {
        font-size: 24px; }
      .clause-bs p {
        font-weight: 400;
        font-size: 16px; } }

.about-list-bs {
  list-style-type: circle;
  list-style-position: outside;
  padding-left: 40px;
  font-size: 11px; }
  @media all and (min-width: 768px) and (max-width: 992px) {
    .about-list-bs {
      font-size: 16px; } }
  @media all and (min-width: 992px) and (max-width: 1200px) {
    .about-list-bs {
      font-size: 16px; } }
  @media all and (min-width: 1200px) {
    .about-list-bs {
      font-size: 16px; } }
  .about-list-bs li {
    padding-left: 40px;
    margin: 20px 0 20px 0; }

.bold-header-bs {
  font-weight: 900;
  color: #000000 !important; }

.search-input-header-bs {
  color: #FFFFFF !important;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 3px; }
  @media all and (min-width: 768px) and (max-width: 992px) {
    .search-input-header-bs {
      font-size: 24px; } }
  @media all and (min-width: 992px) and (max-width: 1200px) {
    .search-input-header-bs {
      font-size: 24px; } }
  @media all and (min-width: 1200px) {
    .search-input-header-bs {
      font-size: 24px; } }

.address-input-bs {
  font-family: "Lato", sans-serif;
  font-weight: 300 !important;
  letter-spacing: 0.4px;
  background-color: #FAFBFC;
  color: #000000 !important;
  border-radius: 55px;
  font-size: 14px !important;
  font-style: italic;
  height: 56px;
  width: 100%;
  padding-left: 20px; }
  @media all and (min-width: 768px) and (max-width: 992px) {
    .address-input-bs {
      font-size: 16px !important; } }
  @media all and (min-width: 992px) and (max-width: 1200px) {
    .address-input-bs {
      font-size: 16px !important; } }
  @media all and (min-width: 1200px) {
    .address-input-bs {
      font-size: 16px !important; } }

.visual-sec input[type="text"] {
  font-weight: 900; }

.visual-sec input[type="button"] {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px; }

input#btnSubmit {
  border-radius: 30px;
  width: auto;
  height: 56px;
  padding: 11px 30px;
  font-size: 14px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  background-color: #000000 !important; }

/*This sheet is for layout-specific styling (ie. the way our elements stack and how that changes depending on screen resolution/width). 
This means that many of our layout-changing media queries will go here. 
This should ideally apply only at the container level, but can also touch specific modules if relevant*/
/*Whenever possible, classes targetted by styles in this sheet should be suffixed with -ly (stands for "layout"), 
 in order to easily track its associated stylesheet. eg. header-container-ly, header-ly */
/*This sheet imports all other common modules and serves as a base reference, so that all modules can be brought into any stylesheet with a single import statement.*/
/*  
    For use in sketch, download "sketch-palettes" plugin: https://github.com/andrewfiorillo/sketch-palettes
    Load this palette: https://www.dropbox.com/s/8ipa5kei755nq3k/swyfft-document-colors.sketchpalette?dl=0
    Visual style guide: https://www.dropbox.com/s/oeize3nk1ruvaup/01-base-palette.png?dl=0
*/
/* Greens */
/* Neutrals */
/* ui element colors */
/* 
    note: 
    - numbers go from brightest (1) to darkest (3) 
    - grays all have same hue + saturation but lightness varies on HSL scale 
*/
/*
    11/9/16: old variables added back so code doesn't break on current site.  CB to find all, replace with new variables names and delete from this file.
*/
/*container for modals to be used with React-Bootstrap modals*/
/*  
    For use in sketch, download "sketch-palettes" plugin: https://github.com/andrewfiorillo/sketch-palettes
    Load this palette: https://www.dropbox.com/s/8ipa5kei755nq3k/swyfft-document-colors.sketchpalette?dl=0
    Visual style guide: https://www.dropbox.com/s/oeize3nk1ruvaup/01-base-palette.png?dl=0
*/
/* Greens */
/* Neutrals */
/* ui element colors */
/* 
    note: 
    - numbers go from brightest (1) to darkest (3) 
    - grays all have same hue + saturation but lightness varies on HSL scale 
*/
/*
    11/9/16: old variables added back so code doesn't break on current site.  CB to find all, replace with new variables names and delete from this file.
*/
/*
    Visual Style Guide: https://www.dropbox.com/s/5w88x69rullg6h7/02-layout.png?dl=0
*/
/* display text - bubble preview font size */
/* large headers, page level */
/* mid headers, page level */
/* small-mid headers, page level */
/* small headers, section level */
/* body copy */
/* subtext, footnotes */
/* common transitions slowest (1) to fastest (3) */
/* cubic bezier functions for rc-tooltip animation timing */
.contact-top-container-ly {
  margin-top: 60px;
  /*height: 191px;

    @media all and (min-width: 768px) and (max-width: 992px) {
        height: 325px;
    }

    @media all and (min-width: 992px) and (max-width: 1200px) {
        height: 325px;
    }

    @media all and (min-width: 1200px) {
        height: 325px;
    }*/ }

.contact-form-ly, .location-container-ly {
  padding-top: 50px; }

.element-spacer-ly {
  margin-bottom: 20px; }

.field-container-ly.row {
  margin-bottom: 15px; }

/*This styles specific modules within the layout components of our pages. 
 This should contain most of our styling, excluding state-specific styles*/
/*Whenever possible, classes targetted by styles in this sheet should be suffixed with _md (stands for "module"), 
 in order to easily track its associated stylesheet. eg. nav-li1-md */
/*This sheet imports all other common modules and serves as a base reference, so that all modules can be brought into any stylesheet with a single import statement.*/
/*  
    For use in sketch, download "sketch-palettes" plugin: https://github.com/andrewfiorillo/sketch-palettes
    Load this palette: https://www.dropbox.com/s/8ipa5kei755nq3k/swyfft-document-colors.sketchpalette?dl=0
    Visual style guide: https://www.dropbox.com/s/oeize3nk1ruvaup/01-base-palette.png?dl=0
*/
/* Greens */
/* Neutrals */
/* ui element colors */
/* 
    note: 
    - numbers go from brightest (1) to darkest (3) 
    - grays all have same hue + saturation but lightness varies on HSL scale 
*/
/*
    11/9/16: old variables added back so code doesn't break on current site.  CB to find all, replace with new variables names and delete from this file.
*/
/*container for modals to be used with React-Bootstrap modals*/
/*  
    For use in sketch, download "sketch-palettes" plugin: https://github.com/andrewfiorillo/sketch-palettes
    Load this palette: https://www.dropbox.com/s/8ipa5kei755nq3k/swyfft-document-colors.sketchpalette?dl=0
    Visual style guide: https://www.dropbox.com/s/oeize3nk1ruvaup/01-base-palette.png?dl=0
*/
/* Greens */
/* Neutrals */
/* ui element colors */
/* 
    note: 
    - numbers go from brightest (1) to darkest (3) 
    - grays all have same hue + saturation but lightness varies on HSL scale 
*/
/*
    11/9/16: old variables added back so code doesn't break on current site.  CB to find all, replace with new variables names and delete from this file.
*/
/*
    Visual Style Guide: https://www.dropbox.com/s/5w88x69rullg6h7/02-layout.png?dl=0
*/
/* display text - bubble preview font size */
/* large headers, page level */
/* mid headers, page level */
/* small-mid headers, page level */
/* small headers, section level */
/* body copy */
/* subtext, footnotes */
/* common transitions slowest (1) to fastest (3) */
/* cubic bezier functions for rc-tooltip animation timing */
.contact-input-md {
  background-color: #E8EAEB;
  border: 0;
  height: 55px;
  padding: 0 4px 0 8px !important;
  font-weight: 400;
  font-size: 14px;
  padding-top: 11px;
  line-height: 1.5;
  margin-bottom: 0;
  letter-spacing: 0.4px;
  color: #000000 !important;
  font-family: "Lato", sans-serif;
  width: 100%;
  border: none;
  display: block; }
  @media all and (min-width: 768px) and (max-width: 992px) {
    .contact-input-md {
      font-weight: 400;
      font-size: 16px; } }
  @media all and (min-width: 992px) and (max-width: 1200px) {
    .contact-input-md {
      font-weight: 400;
      font-size: 16px; } }
  @media all and (min-width: 1200px) {
    .contact-input-md {
      font-weight: 400;
      font-size: 16px; } }
  .contact-input-md a {
    color: #218fbf;
    transition: all 100ms ease-out; }
  .contact-input-md a:hover {
    color: #4E6B0B; }
  @media all and (min-width: 768px) and (max-width: 992px) {
    .contact-input-md {
      padding: 0 0 0 10px !important; } }
  @media all and (min-width: 992px) and (max-width: 1200px) {
    .contact-input-md {
      padding: 0 0 0 15px !important; } }
  @media all and (min-width: 1200px) {
    .contact-input-md {
      padding: 0 0 0 15px !important; } }
  .contact-input-md::-webkit-input-placeholder {
    font-size: 16px;
    color: #979899;
    font-style: italic; }
  .contact-input-md::-moz-placeholder {
    font-size: 16px;
    color: #979899;
    font-style: italic; }
  .contact-input-md:-ms-input-placeholder {
    font-size: 16px;
    color: #979899;
    font-style: italic; }
  .contact-input-md:-moz-placeholder {
    font-size: 16px;
    color: #979899;
    font-style: italic; }

#contact-body.contact-input-md {
  height: 175px;
  padding: 15px !important; }

.contact-label-md {
  letter-spacing: 0.4px;
  font-family: "Lato", sans-serif; }

.map-image-md {
  width: 100%;
  border-radius: 50%;
  border: 1px solid #218fbf; }

/*This sheet imports all other common modules and serves as a base reference, so that all modules can be brought into any stylesheet with a single import statement.*/
/*  
    For use in sketch, download "sketch-palettes" plugin: https://github.com/andrewfiorillo/sketch-palettes
    Load this palette: https://www.dropbox.com/s/8ipa5kei755nq3k/swyfft-document-colors.sketchpalette?dl=0
    Visual style guide: https://www.dropbox.com/s/oeize3nk1ruvaup/01-base-palette.png?dl=0
*/
/* Greens */
/* Neutrals */
/* ui element colors */
/* 
    note: 
    - numbers go from brightest (1) to darkest (3) 
    - grays all have same hue + saturation but lightness varies on HSL scale 
*/
/*
    11/9/16: old variables added back so code doesn't break on current site.  CB to find all, replace with new variables names and delete from this file.
*/
/*container for modals to be used with React-Bootstrap modals*/
/*  
    For use in sketch, download "sketch-palettes" plugin: https://github.com/andrewfiorillo/sketch-palettes
    Load this palette: https://www.dropbox.com/s/8ipa5kei755nq3k/swyfft-document-colors.sketchpalette?dl=0
    Visual style guide: https://www.dropbox.com/s/oeize3nk1ruvaup/01-base-palette.png?dl=0
*/
/* Greens */
/* Neutrals */
/* ui element colors */
/* 
    note: 
    - numbers go from brightest (1) to darkest (3) 
    - grays all have same hue + saturation but lightness varies on HSL scale 
*/
/*
    11/9/16: old variables added back so code doesn't break on current site.  CB to find all, replace with new variables names and delete from this file.
*/
/*
    Visual Style Guide: https://www.dropbox.com/s/5w88x69rullg6h7/02-layout.png?dl=0
*/
/* display text - bubble preview font size */
/* large headers, page level */
/* mid headers, page level */
/* small-mid headers, page level */
/* small headers, section level */
/* body copy */
/* subtext, footnotes */
/* common transitions slowest (1) to fastest (3) */
/* cubic bezier functions for rc-tooltip animation timing */
.contact-input-st {
  transition: all 0.5s ease; }
  .contact-input-st:hover, .contact-input-st:focus {
    background-color: #FFFFFF !important;
    border: 0;
    box-shadow: inset 0px 0px 6px #218fbf;
    -webkit-box-shadow: inset 0px 0px 6px #218fbf;
    -o-box-shadow: inset 0px 0px 6px #218fbf;
    -ms-box-shadow: inset 0px 0px 6px #218fbf;
    -moz-box-shadow: inset 0px 0px 6px #218fbf; }
  .has-error .contact-input-st, .has-error .contact-input-st:hover, .has-error .contact-input-st:focus {
    box-shadow: inset 0px 0px 6px #ff6373;
    -webkit-box-shadow: inset 0px 0px 6px #ff6373;
    -o-box-shadow: inset 0px 0px 6px #ff6373;
    -ms-box-shadow: inset 0px 0px 6px #ff6373;
    -moz-box-shadow: inset 0px 0px 6px #ff6373; }

.contact-form-btn-st:hover {
  border: 3px solid #218fbf !important;
  background-color: #FFFFFF !important;
  color: #218fbf !important; }

/*# sourceMappingURL=contact.bundle.css.map*/