 <footer id="footer">

<div class="aside container">
    <div class="row row-centered">
        <div class="col-xs-12 col-centered">
                        <h2>BetterBind</h2>
            <ul>
                <li><a  style="color:#218fbf;" href="/">Home</a> &nbsp; | &nbsp; <a  style="color:#218fbf;" href="about">About</a> &nbsp; | &nbsp; <a  style="color:#218fbf;" href="faq">Faq</a> &nbsp; | &nbsp; <a  style="color:#218fbf;" href="contact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row row-centered">
        <div class="col-xs-12 col-centered">
          <h6>Copyright &copy; BetterBind, LLC. &nbsp; All rights reserved.</h6>
          <h6>Policy Issued by <a style="color:#218fbf;" href="https://www.jypinsuranceagency.com/">JYP Insurance Agency</a></h6>
          <h6>Powered by <a style="color:#218fbf;" href="https://www.8pubs.com/">8PUBS</a></h6>
        </div>
    </div>
</div>


        </footer>
    </div>


<div id="errorModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header alert-danger">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="errorModalTitle" class="modal-title">An error occurred</h4>
            </div>
            <div id="errorModalBody" class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <span class='reference'></span>
                <button id="errorCloseButton" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

     <script src="/static/js/main"></script>


    <script type="text/javascript" src="/static/js/commons.js"></script>


    <script type="text/javascript" src="/static/js/home.js"></script>
     <script type="text/javascript" src="/static/js/nav.js"></script>


    <script type="text/javascript" src="app/dist/AboutPrivacy.bundle670a.js?cb=6D26B3DD7BE1FA16123F03547A82F179"></script>


</body>


</html>
