<header id="header" class="height-layout-cp">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <strong class="logo swyfftLayoutLogo site-logo-layout-cp" id="swyfft-logo"><a href="/"><img src="/static/images/BetterBind_Logo_144x53.png" alt="Swyfft"></a></strong>
                        <div class="hubLayoutLogo hub-logo-container-layout-cp" id="hubLogoContainer"><img src="/static/images/HUB-logo-sm.svg" class="hub-logo-img-bs" alt="HubLogo"></div>
                        <nav id="quote-menubar" class="quote-menubar-ly">

<div class="container">
    <ul class="nav nav-tabs nav-tabs-layout-cp">

        <li id="quoteMenuItem" class="nav-tabs-st"><a href="quote.html">Quote</a></li>
        <li id="historyMenuItem" class="nav-tabs-st"><a href="Loginc3b6.html">History</a></li>
        <li id="addressesMenuItem" class="nav-tabs-st"><a href="address.html">Addresses</a></li>
    </ul>
</div>


                        </nav>
                        <span id="user-details">
                            <span class="tell text-capitalize user-details-layout-cp"> Hello,  <a href="javascript:void(0)" id="agentName"></a></span>

                        </span>
                        <nav class="navbar navbar-default hamburger-menu-layout-cp" id="hamburger-menu">
                            <div class="navbar-header">
                                <div>
                                    <button type="button" id="expand-navbar" class="navbar-toggle hamburger-icon-ly collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="collapse navbar-collapse navbar-collapse-layout-cp" id="bs-example-navbar-collapse-1">
                                <strong class="logo"><a href="/"><img class="desktop" src="/static/images/bb-logo-svg.svg" alt="Swyfft"><img class="mobile" src="/static/images/bb-logo-svg.svg" alt="Swyfft"></a></strong>
                                <ul class="nav navbar-nav nav-elements-layout-cp">
                                    <li class="agent-login"><a href="Login.html">Agent Login</a></li>
                                    <li class="agent-logout"><a href="javascript:void(0)">logout</a></li>
                                    <li><a href="About.html">Our company</a></li>
                                    <li><a href="ContactUs.html">Contact Us</a></li>
                                    <li><a href="Faq.html">FAQs</a></li>
                                    <li><a href="Press.html">In The Press</a></li>
                                    <li><a href="Claims.html">claims</a></li>
                                    <li class="agent-faq"><a href="#">Agents</a></li>
                                    <li class="agent-page"><a href="#">Admin</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>