<div class="collapse navbar-collapse navbar-collapse-layout-cp" id="bs-example-navbar-collapse-1">
    <strong class="logo"><a href="/"><img class="desktop" src="/static/images/bb-logo-svg.svg" alt="Swyfft"><img class="mobile" src="/static/images/bb-logo-svg.svg" alt="Swyfft"></a></strong>
    <ul class="nav navbar-nav nav-elements-layout-cp">
        <li class="agent-login"><a href="Login.html">Agent Login</a></li>
        <li class="agent-logout"><a href="javascript:void(0)">logout</a></li>
        <li><a href="/static/swyftt/About.html">Our company</a></li>
        <li><a href="/static/swyftt/ContactUs.html">Contact Us</a></li>
        <li><a href="/static/swyftt/Faq.html">FAQs</a></li>
        <li><a href="Press.html">In The Press</a></li>
        <li><a href="/static/swyftt/Claims.html">claims</a></li>
        <!--li class="agent-faq"><a href="#">Agents</a></li>
        <li class="agent-page"><a href="#">Admin</a></li-->
    </ul>
</div>

