<div data-bind="disableEdit:quoteVm.disabled() || !element.isEditable(), attr:{id:element.name}" class="slider-box">
    <div class="slider-bar-ly slider ui-slider quote-horizontal-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all col-lg-12 col-md-12 col-sm-12 slider-element" min="{{element.MinValue}}" element-name="{{element.ElementName}}" max="{{element.MaxValue}}" step="{{element.Increment}}" value="{{element.Value}}"  slider="{{element.Value}}" sliderOptions="{min:{{element.MinValue}}, max:{{element.MaxValue}}, step:{{element.Increment}}, value:{{element.Value}}" data-bind="attr:{id: 'slider-element'}, slider:{{element.Value}}, element: element, sliderOptions:{min:{{element.MinValue}}, max:{{element.MaxValue}}, step:element.step, stop:element.handleValueChange, disabled: function() { return $quoteVm.isPurchased() && !$quoteVm.isReprice(); }}">
        <span class="ui-slider-handle ui-corner-all" data-bind="attr:{id:element.id}">
            <span class="value value-text-bubble-md">
                <span class="number" id="{{element.ElementName}}"  data-bind="attr:{id: element.name() + '_Handle_Value'}, formatElementValue:element.parsedValue">${{element.Value}}</span>
            </span>
        </span>
    </div>
    <ul class="range-pointer range-pointer-ly">
        <li class="left" data-bind="text:element.minValue, css:{defaultValue:element.isDefaultMin()}">{{element.MinValue}}</li>
        <li class="right" data-bind="text:element.maxValue, css:{defaultValue:element.isDefaultMax()}">{{element.MaxValue}}</li>
    </ul>
</div>