<header id="header" class="height-layout-cp">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <strong class="logo swyfftLayoutLogo site-logo-layout-cp" id="swyfft-logo"><a href="/"><img src="/static/images/BetterBind_Logo.png" alt="Swyfft"></a></strong>
                        <div class="hubLayoutLogo hub-logo-container-layout-cp" id="hubLogoContainer"><img src="/static/images/HUB-logo-sm.svg" class="hub-logo-img-bs" alt="HubLogo"></div>
                        <nav id="quote-menubar" class="quote-menubar-ly">

<div class="container">
    <ul class="nav nav-tabs nav-tabs-layout-cp">

        <li id="quoteMenuItem" class="nav-tabs-st"><a href="quote.html">Quote</a></li>
        <li id="historyMenuItem" class="nav-tabs-st"><a href="Loginc3b6.html">History</a></li>
        <li id="addressesMenuItem" class="nav-tabs-st"><a href="address.html">Addresses</a></li>
    </ul>
</div>


                        </nav>
                        <span id="user-details">
                            <span class="tell text-capitalize user-details-layout-cp"> Hello,  <a href="javascript:void(0)" id="agentName"></a></span>

                        </span>
                        <nav class="navbar navbar-default hamburger-menu-layout-cp" id="hamburger-menu">
                            <div class="navbar-header">
                                <div>
                                    <button type="button" id="expand-navbar" class="navbar-toggle hamburger-icon-ly collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </div>
                            {% include 'includes/nav.html' %}
                        </nav>
                    </div>
                </div>
            </div>
        </header>