<link href="/static/contact.css" type="text/css" rel="stylesheet" />
{% include 'includes/header.html' %}
<section>
            






<div id="contactUs" class="contact-top-container-ly">

    <section class="hero-container-bs">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3 class="hero-text-bs container">We'd love to hear from  <span class="hero-text-callout-bs">you</span>.</h3>
            </div>
        </div>
    </section>
    <main id="main" role="main">
        <section id="contactForm" class="payment-area">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
                        <form class="form contact-form-ly" data-bind="disableEdit:isBusy">
    <aside>
        <p class="intro-text-bs">
            Just fill out these fields or call and be directed to one
            of our customer service representatives at <b>1.855.479.9338</b>
        </p>
    </aside>

    <div class="field-container-ly row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <label class="input-label-bs" for="contactType">
                Reason for contact<br />
                <select class="contact-input-md contact-input-st" data-bind="value:contactType" name="contactType">
                    <option value="default">Please select a reason ...</option>
                    <option value="signupAgent">New Agent Signup</option>
                    <option value="changeMortgagee"> Change Mortgage or Loan Information</option>
                    <!-- TODO add Billing Information controls and display when this option is selected.-->
                    <option value="changeBilling"> Change Billing Information</option>
                    <!-- TODO add EffectiveDate dateinput and display when this option is selected.-->
                    <option value="changeEffectiveDate"> Change Effective Date</option>
                    <!-- TODO add Address input fields and display when this option is selected.-->
                    <option value="changeInsuredAddress">Change Insured Address</option>
                    <option value="changeCancelPolicy">Cancel Policy</option>
                    <option value="validatePolicy">Policy Validation</option>
                    <option value="other">Other</option>
                </select>
            </label>
            <label data-bind="visible:!contactTypeIsValid()" class="errorLabelOn">Contact type is required.</label>
        </div>
    </div>

    <div class="field-container-ly row">

        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
            <label class="input-label-bs" for="name">
                Your Name
                <input id="name" class="contact-input-md contact-input-st" type="text" name="contactName" placeholder="Your name" data-bind="value:name">
            </label>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
            <label class="input-label-bs" for="email">
                Your Email
                <input id="email" class="contact-input-md contact-input-st" type="text" name="contactEmail" placeholder="Your email address" data-bind="value:email">
            </label>
        </div>
    </div>

    <div class="field-container-ly row" data-bind="visible:contactType().startsWith('change') || contactType().startsWith('validate')">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <label class="input-label-bs" for="policyNumber">
                Policy Number
                <input id="policyNumber" class="contact-input-md contact-input-st" type="text" name="policyNumber" placeholder="Your policy number" data-bind="value:policyNumber">
            </label>
        </div>

        <div data-bind="visible:contactType().startsWith('change')">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
                <label class="input-label-bs" for="customerName">
                    Customer Name (optional)
                    <input id="customerName" class="contact-input-md contact-input-st" type="text" name="customerName" placeholder="Your customer's name (optional)" data-bind="value:customerName">
                </label>
            </div>
        </div>

        <div data-bind="visible:contactType().startsWith('validate')">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
                <label class="input-label-bs" for="customerZip">
                    Zip Code
                    <input id="customerZip" class="contact-input-md contact-input-st" type="text" name="customerZip" placeholder="Zip Code" data-bind="value:policyZip">
                </label>
            </div>
        </div>

    </div>

    <div class="field-container-ly row" data-bind="visible:contactType().startsWith('change')">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label class="input-label-bs" for="policyAddress">
                Policy Address (optional)
                <input id="policyAddress" class="contact-input-md contact-input-st" type="text" name="policyAddress" placeholder="Your policy address (optional)" data-bind="value:policyAddress">
            </label>
        </div>
    </div>

    <div class="field-container-ly row" data-bind="visible:contactType()=='other'">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label class="input-label-bs" for="subject">
                Please Describe
                <input id="subject" class="contact-input-md contact-input-st" type="text" name="subject" placeholder="Ex: Change in policy request" data-bind="value:subject">
            </label>
        </div>
    </div>

    <div class="field-container-ly row" data-bind="visible:!contactType().startsWith('validate')">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label class="input-label-bs" for="contact-body">
                Your Message
                <textarea class="contact-input-md contact-input-st" placeholder="Body" id="contact-body" name="contactBody" rows="7" cols="50" data-bind="value:body"></textarea>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-3 col-md-3 col-lg-offset-9 col-md-offset-9">
            <input type="button" value="Submit" class="contact-form-btn-bs contact-form-btn-st" id="contact-submit-button" data-bind="click:sendEmail">
        </div>
    </div>
</form>

                    </div>
                </div>
            </div>
            <div class="location-container-ly location-container-bs container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h2 class="location-main-header-bs">OUR OFFICES</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 col-sm-4 col-md-3 col-lg-3">
                        <img src="/static/images/jersey-office.jpg" class="map-image-md"/>
                    </div>

                    <div class="col-xs-7 col-sm-8 col-md-3 col-lg-3 location-instance-container-bs">
                        <h3 class="location-instance-header-bs">New Jersey</h3>
                        <p>44 Headquarters Plaza</p>
                        <p>4th Floor, North Tower</p>
                        <p>MORRISTOWN NJ, 07960</p>
                        <p class="location-instance-phone-bs">855.479.9338</p>
                    </div>
                    <div class="clearfix visible-xs visible-sm element-spacer-ly"></div>
                    <div class="col-xs-5 col-sm-4 col-md-3 col-lg-3">
                        <img src="/static/images/redmond-office.jpg" class="map-image-md"/>
                    </div>

                    <div class="col-xs-7 col-sm-8 col-md-3 col-lg-3 location-instance-container-bs">
                        <h3 class="location-instance-header-bs">Seattle</h3>
                        <p>8201 164TH AVE NE</p>
                        <p>SUITE 320</p>
                        <p>REDMOND, WA 98052</p>
                        <p class="location-instance-phone-bs">855.479.9338</p>
                    </div>

                </div>
            </div>
        </section>
    </main>
</div>


        </section>
       {% include 'includes/footer.html' %}
<script type="text/javascript" src="/static/js/contact.js"></script>