{% include 'includes/header.html' %}
<link href="/static/faq.css" type="text/css" rel="stylesheet" />
        <section>
            




<div id="faqs">
    <section class="visual-sec hero-container-bs">
        <div class="bg-stretch faq-bkg-bs"></div>
        <div class="caption container">
            <div class="row">
                <div class="hero-text-with-address-box">
                    <div class="col-sm-12 col-xs-12">
                        <h1 class="faq-hero-bs">You have questions. <br/><span class="hero-text-callout-bs">We have answers.</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <main id="main" role="main">
        <section class="feature-area" id="faqsSection">
  <!--          <div class="clauses-container-ly" id="agent-faq-button">
                <div class="container">
                    <div class="row">
                        <div class="clause-bs col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
                            <p> If you're a BetterBind Agent you can visit our FAQ page with questions curated especially for you: </p>
                            <a href="Faq/Agents.html"><button class="btn btn-default agent-faq-btn-bs">Visit Agent FAQs</button></a>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="clauses-container-ly">
                <div class="container">
                    <div class="row">
                        <div class="clause-bs col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
                            <h2>What does Homeowners Insurance cover?</h2>
                            <p>
                                A Homeowners Insurance policy is a package policy that covers your home and personal property,
                                plus loss of use, personal liability, and medical payments.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clauses-container-ly">
                <div class="container">
                    <div class="row">
                        <div class="clause-bs col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
                            <h2>What is a deductible?</h2>
                            <p>
                                Your deductible is the part of a covered loss that the insurer does not pay. Increasing your deductible amount generally reduces your premium,
                                while still protecting you from larger losses.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clauses-container-ly">
                <div class="container">
                    <div class="row">
                        <div class="clause-bs col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
                            <h2>Why should I buy homeowners insurance from BetterBind?</h2>
                            <p>
                                BetterBind uses the latest technology which uses unique data sources to more accurately assess the risks to your home and property.
                                In most cases, this means we can provide a premium quote in a few seconds using just your address.
                                Your BetterBind policy will cover the full cost of replacing your home, and if we think your house represents a lower risk,
                                we'll offer you a lower premium too.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clauses-container-ly">
                <div class="container">
                    <div class="row">
                        <div class="clause-bs col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
                            <h2>My BetterBind policy includes Guaranteed Replacement Cost* - what does that mean?</h2>
                            <p>
                                Many insurance companies offer coverage that is limited to the actual cash value of your home,
                                or to a dollar limit noted in the policy. This means that if your home were severely damaged or destroyed,
                                you would receive at most the current, depreciated value of your home.  If you have elected or have been provided with Guaranteed Replacement Cost on your policy,  the BetterBind homeowners policies will cover the entire cost of rebuilding or repairing your home, with no deduction for depreciation and no dollar limit.
                                <br/> 
                                <br/> 
                               <strong>* Guaranteed Replacement Cost is standard in all states except NY. It is an OPTIONAL offering in NY.</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clauses-container-ly">
                <div class="container">
                    <div class="row">
                        <div class="clause-bs col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
                            <h2>Can I rely on BetterBind if I have to file a claim?</h2>
                            <p>
                                Yes! In the insurance industry, BetterBind is what is known as a "Insurance Agency".
                                At the risk of getting into too much detail, we rely on (extremely well funded) "Carriers" to actually pay claims. BetterBind is backed by
                                several established insurance carriers, each rated as “A-” or better by A.M. Best.
                                (A. M. Best is the global credit rating agency focused on the insurance industry for more than 100 years).
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clauses-container-ly">
                <div class="container">
                    <div class="row">
                        <div class="clause-bs col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
                            <h2>Do I have to be on automatic monthly installments?</h2>
                            <p>
                                Yes, either that or have your mortgage company pay your policy premiums out of your escrow account.
                                BetterBind is dedicated to bringing customers excellent coverage at a low premium, using advanced technology.
                                We use automatic billing to cut down on operations costs, and we pass that savings on to our customers.
                                Also, this is nearly always easier for you as well - you don't have to think about it, or waste money on stamps.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clauses-container-ly">
                <div class="container">
                    <div class="row">
                        <div class="clause-bs col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
                            <h2>What if I need to update my credit card or checking account that BetterBind has on file for automatic payments?</h2>
                            <p>We can update that information for you, please give us a call or send an email at least 24 hours before your payment is scheduled to be withdrawn.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clauses-container-ly">
                <div class="container">
                    <div class="row">
                        <div class="clause-bs col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
                            <h2>I am on monthly installments and now would like to pay my policy in full, what should I do?</h2>
                            <p>Please either call or email us and we can help you make that payment.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clauses-container-ly">
                <div class="container">
                    <div class="row">
                        <div class="clause-bs col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
                            <h2>My policy is renewing and I was on automatic payments, but now I want to pay via mortgage escrow. Can I do that?</h2>
                            <p>Absolutely. Call or email us with your mortgagee name and loan number, and we will get that set up for you.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clauses-container-ly">
                <div class="container">
                    <div class="row">
                        <div class="clause-bs col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
                            <h2>Can you send me a copy of my policy via snail mail?</h2>
                            <p>
                                Again, as a cost saving measure for our customers, we send BetterBind policies by email only.
                                We will do the best we can to get the policy to you, please give us a call if you need assistance.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clauses-container-ly">
                <div class="container">
                    <div class="row">
                        <div class="clause-bs col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
                            <h2>I own a second home and would like to insure that with BetterBind as well, is this possible?</h2>
                            <p>We can insure the second property if it is not rented to others.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clauses-container-ly">
                <div class="container">
                    <div class="row">
                        <div class="clause-bs col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
                            <h2>I need to file a claim, what do I do?</h2>
                            <p>
                                Contact us by phone <a href="tel:1.877.201.2019">1.877.201.2019</a>,
                                or email us at <a href="/contact">hello@betterbind.com</a> and we will be happy to assist you.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clauses-container-ly">
                <div class="container">
                    <div class="row">
                        <div class="clause-bs col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
                            <h2>Where did the name BetterBind come from?</h2>
                            <p>We wanted a better insurance solution hence BetterBind</p>
                        </div>
                    </div>
                </div>
            </div>
        <div class="address-search-container-ly" style="background-color:#218fbf;" >
            <div class="container" >
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h2 class="search-input-header-bs search-input-header-ly" style="color: #FAFBFC; letter-spacing: 4px; font-weight: 900; font-size: 24px; margin-top: 50px; LINE-HEIGHT:30px;">
                            IT’LL ONLY TAKEs FEW SECONDS!
                        </h2>
                    </div>
                </div>
            <div class="row form-quote landing-form form-quote-md row-centered" style="margin-bottom: 50px; LINE-HEIGHT:30px;">        
           <input type="button" class="btn btn-default get-quote-btn-bs get-quote-btn-ly" style="background-color:#000000;"onclick="location.href='https://www.betterbind.com/';" value="GET A QUOTE NOW!" id="btnSubmit" data-bind="click:submit, disable:isBusy()">
        </div>

        </section>

        
    </main>
</div>
        

        </section>
        
                
        

        
<script type="text/javascript" src="/static/js/Faq.js"></script>
        {% include 'includes/footer.html' %}
