{%  load static  %}
<html lang="en">
	<head>
	    <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
	    <meta name="copyright" content="Copyright Swyfft LLC 2018" />
	    <meta name="description" content="Swyfft is disrupting the homeowners insurance industry by using big data and analytics to make buying insurance as easy as typing in your address." />
	    <meta name="keywords" content="swyfft, insurance, homeowners insurance, data, analytics" />

	    <title>BetterBind Homeowners </title>
	    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <link href="https://fonts.googleapis.com/css?family=Lato:400,400italic,700,900black" rel="stylesheet"/>

	     <link rel="stylesheet" href="{%  static 'main.css' %}">
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
		  <div class="navbar-header">
		    <a class="navbar-brand" href="#">Better Bind</a>
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		  </div>
		  <div class="navbar-collapse collapse">
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="#">Home</a></li>
		      <li><a href="#about">About</a></li>
		      <li><a href="#contact">Contact</a></li>
		    </ul>

		  </div>
		</nav>
	<div class="home-message-container-bs">
		<div class="container">
			<div class="betterbind-container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-11 col-lg-11">
	                    <h1 class="header-first-line-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </h1>
	                    <h1 class="header-second-line-md">Get a homeowner insurance quote in seconds.</h1>
	                    <h1 class="header-third-line-md">Just type your address:</h1>
	                </div>
					<form id="js_address_form">
	                <div class="input col-xs-12 col-sm-12 col-md-9 col-lg-9">

                            <input id="address_input" name="address" type="text" placeholder="Type your address" class="form-control home-input" autocomplete="off" required>


                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">

							{% csrf_token %}
                        	<input type="submit"  class="btn btn-default getquote">

					</div>
					</form>

				</div>
			</div>
		</div>
	</div>

	</body>
	<footer>
		<script
  			src="https://code.jquery.com/jquery-3.3.1.min.js"
  			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  			crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="{%  static 'js/nav.js' %}"></script>
		<script>
			$('#js_address_form').submit(function (e) {
				e.preventDefault();
				$.post('/', {'address':$('#address_input').val()}).done(function (data) {
					if (data.status=200){
					    alert('Data premium Price is: ' +data.annual_premium);
					}
					else{
					    alert(data.error);
					}
                })
            })
		</script>


	</footer>
</html>