<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <meta name="copyright" content="Copyright Betterbind 2018" />
    <meta name="description" content="Betterbind instant homeowners insurance." />
    <meta name="keywords" content="Betterbind, insurance, homeowners insurance" />

    <title>BetterBind</title>



<link href="https://fonts.googleapis.com/css?family=Lato:400,400italic,700,900black" rel="stylesheet"/>

<link href="static/common.css" rel="stylesheet"/>

<link href="/static/commonStyle.css" type="text/css" rel="stylesheet" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="/static/main.css" type="text/css" rel="stylesheet" />

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/react/16.4.0/umd/react.production.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react-dom/16.4.0/umd/react-dom.production.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.32.1/react-bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.auto.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/MutationObserver.js/0.3.2/mutationobserver.min.js"></script>

    <link href="/static/home.css?cb=1C8405C15799C8831C77E8204BF5AB93" type="text/css" rel="stylesheet" />


    <link rel="apple-touch-icon" sizes="57x57" href="/static/images/singleSShieldBetterBind-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/singleSShieldBetterBind-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/singleSShieldBetterBind-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/static/images/singleSShieldBetterBind-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/static/images/singleSShieldBetterBind-144x144.png" />

    <link rel="icon" type="image/png" href="/static/images/favicon.png" />
    <!--[if IE]>
        <link rel="icon" href="/favicon.ico" type="image/ico" />
    <![endif]-->

    <script type="text/javascript">
        $(function () {
            $(window).on("orientationchange", function () {
                var userAgent = navigator.userAgent.toLowerCase(); // detect the user agent
                var iosDevices = userAgent.match(/(iphone|ipod|ipad)/) ? true : false; //check if the devices are ios devices
                var widthOfBrowser = $(window).width();
                var heightOfBrowser = $(window).height();
                if (iosDevices) {
                    var isLandscapeMode = window.orientation;
                    if (isLandscapeMode === 90) {
                        $('.swyfftLayout').css('width', widthOfBrowser);
                        $('#termsConditionsOverlay').css('width', widthOfBrowser);
                        $('#termsConditionsOverlay').css('height', heightOfBrowser);
                    }
                    else {
                        $('#termsConditionsOverlay').css('width', widthOfBrowser);
                        $('#termsConditionsOverlay').css('height', heightOfBrowser);
                        $('.jspContainer').css('height', heightOfBrowser);
                    }
                }
            });
        });

    </script>

</head>

<body>
        <!-- Google Tag Manager -->


    <div id="loadingModal">
    <div class="modal fade" role="dialog" data-bind="modal:showModal, backdrop:'static', keyboard:false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="/static/images/ajax-loader.gif"/>
                    <span data-bind="text:message" class="loading-message"></span>
                </div>
            </div>
        </div>
    </div>
</div>

    <div id="swyfftLayoutWrapper" class="swyfftLayout">
        <header id="header-without-top-navbar">
            <div class="container" id="headerLogo">
                <div class="row">
                </div>
            </div>
        </header>

        {% include 'includes/full_nav.html' %}
        <section>




<script>
    window.BetterbindCustomerServiceEmail = "Betterbind@gmail.com";
</script>

<form action="#" class="form-payment" data-bind="validationOptions:{ messageTemplate: 'errorTemplate', errorElementClass:'alert-danger'}, submit:submit">
    <section id="home" class="visual-sec win-height home-message-container-bs">
        <div class="caption container">

            <div class="address-input-container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                        <img class="home-logo-ly " src="/static/images/bb-logo-svg.svg" alt="Swyfft">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11">
                        <h1 class="header-first-line-md">BetterBind uses the latest technology so you can </h1>
                        <h1 class="header-second-line-md">Get a homeowner insurance quote in seconds.</h1>
                        <h1 class="header-third-line-md">Just type your address:</h1>
                    </div>
                </div>

                <form id="js_address_form">
                <div class="row form-quote landing-form form-quote-md">
                    <div class="hidden-xs hidden-sm col-md-1 col-lg-1"></div>
                    <div class="input col-xs-12 col-sm-12 col-md-9 col-lg-9">
                        <label data-bind="validationOptions: {insertMessages: false, decorateInputElement:false}" class="address-container-ly">
                            <input  type="text" placeholder="Type your address" class="address-input-ly address-input-bs" id="address_input" >
                            <label id="addressErrorLabel" class="hero-error-label" style="display: none" data-bind="validationMessage: address">Please enter your address</label>
                        </label>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                        <input type="submit" class="btn btn-default get-quote-btn-bs get-quote-btn-ly" value="get quote" id="quotebutton" >
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="container">
            <div id="spinner"></div>
        </div>
    </section>
</form>

<div id="loading-container" class="loading-container">
    <div class="loading-lines-container container">
        <p class="line-md line-1">locating your home</p>
        <p class="line-md line-2 hidden-md">analyzing your home</p>
        <p class="line-md line-3 hidden-md">assessing its value</p>
        <p class="line-md line-5 hidden-md">optimizing coverage</p>
    </div>
</div>
            <form id="quote_page" method="post" action="/quote">
                {% csrf_token %}
			<input name="quote_id" id="quote_id" type="hidden"/>
			<input name="addresskey"  id="addresskey" type="hidden"/>
			<input name="addressname" id="addressname" type="hidden">
		</form>

<div id="addressInfoModal" data-bind="with:addressInfoVm" class="address-info-modal-md">
    <div class="modal fade" role="dialog" data-bind="modal:showModal, escPress:cancel, enterPress:update">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Address Information</h4>
                </div>
                <div class="modal-body container">
                        <div class="row">
                            <div class="col-xs-12">
                                <h5>This is one of those rare instances where we need to confirm that this address is correct.
                                Please enter the square footage, hit "Create", and we'll get you a quote straightaway.</h5>
                            </div>
                        </div>
                        <form>
                            <div class="row">
                                <div class="col-xs-12">
                                    <label>Street</label>
                                    <input id="street1" type="text" placeholder="Street" class="custom-form-control input-sm" data-bind="value:street1">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <label>City</label>
                                    <input id="city" type="text" placeholder="City" class="custom-form-control input-sm" data-bind="value:city">
                                </div>
                                <div class="col-xs-6">
                                    <label>State</label>
                                    <input id="stateCode" type="text" placeholder="State" class="custom-form-control input-sm" data-bind="value:stateCode">
                                    <div data-bind="visible:state()">
                                        (<span data-bind="text:state"></span>)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <label>Zip</label>
                                    <input id="zip" type="text" placeholder="Zip Code" class="custom-form-control input-sm" data-bind="value:zip">
                                </div>
                                <div class="col-xs-6">
                                    <label>Living Space</label>
                                    <input id="livingSpace" type="text" placeholder="Square Footage" class="custom-form-control input-sm" data-bind="value:livingSpace">
                                </div>
                            </div>
                        </form>
                </div>
                <div class="modal-body container">
                    <div class="row">
                        <div class="col-xs-6 text-center" data-bind="visible:addressKey().length===0">
                            <input id="addressInfoCreateButton" value="Create" type="button" tabindex="-1" class="btn btn-default address-highlight-btn"
                                   data-bind="click:update">
                        </div>
                        <div class="col-xs-6 text-center" data-bind="visible:addressKey().length>0">
                            <input id="addressInfoSaveButton" value="Save" type="button" tabindex="-1" class="btn btn-default address-highlight-btn"
                                   data-bind="click:update">
                        </div>
                        <div class="col-xs-6 text-center">
                            <input id="addressInfoCancelButton" value="Cancel" type="button" tabindex="-1" class="btn btn-quote address-cancel-btn"
                                   data-bind="click:cancel">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="requiredInfoModal" data-bind="with:requiredInfoVm" class="required-info-modal-md">
    <div class="modal fade" role="dialog" data-bind="modal:showModal, escPress:cancel, enterPress:ok">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Living Space</h4>
                </div>
                <div class="modal-body container">
                        <div class="row">
                            <div class="col-xs-12">
                                <label id="modalAddressErrorLabel"></label>
                                <div id="square-footage">
                                    <h5>We weren't able to retrieve your home's square footage automatically. How big is your house?</h5>
                                    <div>
                                        <input id="required_LivingSpace" type="number" placeholder="Square Feet" maxlength="5" class="custom-form-control"
                                               style="width:170px" data-bind="value:livingSpace">
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="modal-body container">
                    <div class="row">
                        <div class="col-xs-6 text-center">
                            <input id="requiredInfoSubmitButton" value="Proceed" type="button" tabindex="-1" class="btn btn-default required-submit-btn-md"
                                   data-bind="click:ok">
                        </div>
                        <div class="col-xs-6 text-center">
                            <input id="requiredInfoCancelButton" value="Cancel" type="button" tabindex="-1" class="btn btn-quote required-cancel-btn-md"
                                   data-bind="click:cancel">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


        </section>
        <footer id="footer">

<div class="aside container">
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-3">
            <h2>Betterbind</h2>
            <ul>
                <li><a href="About.html">About</a></li>
                <li><a href="Press.html"><span id="news-overlay">In The Press</span></a></li>
                <li><a href="privacy"><span id="terms-overlay">Terms</span></a></li>
                <li><a href="privacy.html"><span id="privacy-overlay">Privacy Policy</span></a></li>
                <li class="agent-login">
                    <a href="Login.html">Agent Login</a>
                </li>
                <li class="agent-logout">
                    <a href="#">Agent Logout</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-3">
            <h2>Contact</h2>
            <ul>
                <li>
                    <a href="tel:1.201.887.0962">1.201.887.0962</a>
                </li>
                <li>
                    <a href="ContactUs.html" id="contactUsLink">Contact Us</a>
                </li>
                <li>

                    <a href="mailto:Betterbind@gmail.com">Betterbind@gmail.com</a>
                </li>
            </ul>
        </div>


        <div class="col-xs-3"></div>
    </div>
</div>
<div class="container">
    <div class="row row-centered">
        <div class="col-xs-12 col-centered">
            <p> &copy; 2018 Betterbind&reg; , LLC. All rights reserved.</p>
        </div>
    </div>
</div>

        </footer>
    </div>


<div id="errorModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header alert-danger">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="errorModalTitle" class="modal-title">An error occurred</h4>
            </div>
            <div id="errorModalBody" class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <span class='reference'></span>
                <button id="errorCloseButton" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

        <script src="/static/js/main"></script>


    <script type="text/javascript" src="/static/js/commons.js"></script>


    <script type="text/javascript" src="/static/js/home.js"></script>
     <script type="text/javascript" src="/static/js/nav.js"></script>

</body>

</html>